body{
	background-color:#4D4B4B;
   }
.content{
	 background-color:white;
	 padding:20px; 
	 margin-left:auto;
	 margin-right:auto;
	 width:90%;	
	}

.menu{
	background-color:white;
	 padding:20px; 
	 margin-left:auto;
	 margin-right:auto;
	 width:90%;
	 margin-bottom:20px;
	 text-align:center;
	}

.menu a{
color: #6E6E6E;
font: bold 12px Helvetica, Arial, sans-serif;
text-decoration: none;
padding: 7px 12px;
position: relative;
display: inline-block;
text-shadow: 0 1px 0 white;
-webkit-transition: border-color .218s;
-moz-transition: border .218s;
-o-transition: border-color .218s;
transition: border-color .218s;
background: #F3F3F3;
background: -webkit-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
border: solid 1px gainsboro;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
margin-right: 10px;
}
.section{
	 border-bottom:2px solid #8EC2EA;
	 padding-bottom:10px;
	 padding-top:10px;

	 }

#cat_panel input[type="text"]{
	width:48px!important;
	
}
#cat_panel table table th{
	font-size:10px;
	font-weight: normal;

}
#cat_panel table *{
	text-align: center;

}
.new_db table{
	margin-left:auto;
	margin-right:auto;
}

.section > .title{
	color:#637A9F;
	font-weight:bold;
	margin-bottom:10px;
	display:block;
	
}
.error{
	width:100%;
	padding:10px;
	background-color:#A51B0D;
	color:white;
	left:-10px;
	position:relative;
	text-align:center;
	margin-bottom:10px;
}

.command_list li{
	display: inline;
	padding-right: 20px;
}


#link {
	margin:auto;
	width:90%;
	border:2px solid #444;
	padding:10px;
	background-color:#F9F9F9;
	font-style:italic;
	word-break: break-word;
	word-wrap: break-word ;	

}






input[type="text"], form textarea {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font-size: 1em;
    outline: medium none;
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    height: 32px;
    padding: 6px;
    width: 19em;
    	
}

input, textarea {
    -moz-transition: border-color 0.3s ease 0s;
}


table td{
	vertical-align:middle;
}




.sub_section{
	 border: 2px dashed #FBE0C2;
	 padding:10px;
	margin-bottom:10px;
     
  
}




.sub_section .title{
  	color:#A7887B;
}

li.field{
	margin-bottom:5px;
}



